.icon {
  float: right;
  margin-left: 12px; }
  .icon:before {
    width: 16px;
    height: 13px;
    display: block;
    background-repeat: no-repeat;
    content: '';
    float: left;
    margin-right: 3px; }
  .icon__heart:before {
    background-image: url("/wp-content/themes/wp_webbyra/assets/images/icon-heart.svg"); }
  .icon__comments:before {
    background-image: url("/wp-content/themes/wp_webbyra/assets/images/icon-comment.svg"); }
