.cta {
  &__button {
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 30px;
    width: fit-content;
    font-weight: 600;
    padding: 15px 15px;

    @include MQ(SM) {
      padding: 15px 35px;
    }

    text-transform: uppercase;
    font-size: 15px;
    -webkit-transition: top 0.2s; /* Safari */
    transition: top 0.2s;
    top: 0;
    position: relative;
    &--trans {
      border: 2px solid $gray;
    }
    &--green {
      background-color: $green;
      color: $white;
    }
    &--center {
      margin: 0 auto;
    }
    &--left {
      margin: 0;
      display: table;
      padding: 5px 5px;
      @include MQ(XS) {
        padding: 5px 15px;
      }
      @include MQ(S) {
        padding: 5px 30px;
      }
      @include MQ(M) {
        padding: 5px 45px;
      }
    }
    &--white {
      border: 1px solid $white;
      color: $white;
      background: transparent;
      &:hover{
        background-color: $white;
      }
    }
    &:hover {
      top: -2px;
    }
  }
}

.gform_button {
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 30px;
  width: fit-content;
  font-weight: 600;
  padding: 15px 45px;
  text-transform: uppercase;
  font-size: 15px;
  outline: none;
  margin: 0 auto !important;
  display: block !important;
  -webkit-transition: top 0.2s; /* Safari */
  transition: top 0.2s;
  top: 0;
  position: relative;
  background-color: $green;
  color: $white;
  border:none;
  &:hover {
    top: -2px;
  }
}

.picker__container {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding-left: 28px;
  padding-top: 4px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  .radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    &:after {
      left: 7px;
      top: 3px;
      width: 7px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &--white
    {
      background-color: #fff;
      box-shadow: 0px 0px 4px rgba(0,0,0,0.75);
      &:after{
        border: solid #222;
        border-width: 0 3px 3px 0;
      }
    }
    &--black
    {
      background-color: #000;
    }
    &--silver
    {
      background: rgb(222,222,222); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(222,222,222,1) 1%, rgba(155,155,155,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(222,222,222,1) 1%,rgba(155,155,155,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(222,222,222,1) 1%,rgba(155,155,155,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#9b9b9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &:hover {
    input ~ .radiobtn {
      /*border: 2px solid green;*/
    }
  }
}