body{
  background-color: $white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include MQ(SM) {
    margin: 0 15px;
  }

}

#page-wrapper{
  max-width: $body-width;
  margin: 0 auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
  height: 100%;
}

#main
{
  max-width: $body-width;
  background-color: $white;
  margin: 0 20px;

  @include MQ(XS) {
    margin: 0;
  }

  @include MQ(SM) {
    margin: 0 20px;
  }
}

.center-text
{
  text-align: center;
}

  @include MQ(S) {
.flex-cols{
  display: flex;
  margin-bottom: 20px;
  .col{
    flex: 1;
  }
}
}

.clearfix
{
  clear: both;
  line-height: 1px;
}



.icon{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 900;

  span{

    display: block;
    background-size: cover;
    background-position: top center;
    margin: 0 auto;
    display: block;
    content: '';
    margin-bottom: 10px;

    &.ipad-pro{
    background-image: url('/wp-content/themes/wp_ipadstall/assets/images/ipad1-gray.png');
    width: 42px;
    height: 61px;
    }
  }

  span
  {
    &.ipad{
    background-image: url('/wp-content/themes/wp_ipadstall/assets/images/ipad2-gray.png');
    width: 38px;
    height: 55px;
    }
  }
  &--ipad{
    max-width: 75px;
  }
  &--gray{
    color: $gray;
    text-align: center;
  }

}


.iconlist
{
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  font-size: 13px;
  margin-bottom: 60px;
  flex-wrap: wrap;

  .icon
  {
    flex: 1 1 33%;
    @include MQ(S) {
      flex: 1 1 20%;
    }

    &__lock::before {
      display: block;
      height: 30px;
      width: 30px;
      background-size: cover;
      content: '';
      margin: 10px auto;
      fill: #2f2f2f;
      background-image: url("../../images/padlock.svg");
    }

    &__diamond::before {
      display: block;
      height: 30px;
      width: 30px;
      background-size: cover;
      content: '';
      margin: 10px auto;
      fill: #2f2f2f;
      background-image: url("../../images/diamond.svg");
    }

    &__heart::before {
      display: block;
      height: 30px;
      width: 30px;
      background-size: cover;
      content: '';
      margin: 10px auto;
      fill: #2f2f2f;
      background-image: url("../../images/heart.svg");
    }

    &__star::before {
      display: block;
      height: 30px;
      width: 30px;
      background-size: cover;
      content: '';
      margin: 10px auto;
      fill: #2f2f2f;
      background-image: url("../../images/star.svg");
    }

    &__plus::before {
      display: block;
      height: 30px;
      width: 30px;
      background-size: cover;
      content: '';
      margin: 10px auto;
      fill: #2f2f2f;
      background-image: url("../../images/plus.svg");
    }
  }

  &__swipericons
  {
    display: none;
    @include MQ(SM) {
      display: flex;
    }

    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    left: calc(50% - 260px);
    margin-top: 80px;

    .icon{
      opacity: 0.5;
      cursor: pointer;

      &.active{
        opacity: 1;
      }
    }
  }
}
