$XS : 0px; // 0 - 480px  - Mobile S
$S : 481px; // 480px  - Mobile L
$SM : 769px; // 769px - Tablet
$M : 1020px; // 1020px - Laptop S
$L : 1281px; // 1280px - Laptop M
$XL : 1441px; // 1440px - Laptop L
$XXL : 2561px; // 4K     - Monitor L
@mixin MQ($canvas) {

  @if $canvas == XS {
   @media only screen and (min-width: $XS) { @content; }
  }
  @else if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }

  @else if $canvas == SM {
   @media only screen and (min-width: $SM) { @content; }
  }

  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == XL {
   @media only screen and (min-width: $XL) { @content; }
  }
  @else if $canvas == XXL {
   @media only screen and (min-width: $XXL) { @content; }
  }
  @else {
    @media only screen and (min-width: $canvas) { @content; }
  }
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition-property($transition-property...) {
    -webkit-transition-property: $transition-property;
    transition-property: $transition-property;
}

@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: $transition-delay;
    transition-delay: $transition-delay;
}

@mixin transition-duration($transition-duration...) {
    -webkit-transition-duration: $transition-duration;
    transition-duration: $transition-duration;
}

@mixin transition-timing-function($timing-function) {
    -webkit-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;
}

@mixin transition-transform($transition...) {
    -webkit-transition: -webkit-transform $transition;
    -moz-transition: -moz-transform $transition;
    -o-transition: -o-transform $transition;
    transition: transform $transition;
}

%inlineBlock {
    position: relative;
    list-style: none;
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    _height: 30px;
}

%box {
    position: relative;
    box-sizing: border-box;
}

%coverBackground {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

@mixin centerer($horizontal: true, $vertical: true) {
    position: absolute;
    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
    @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    }
}
