body {
  font-size: 100%;
  font-family: $font;
  color: $font-color;
}

a{
  color: $font-color;
}

p {
  font-size: 1em;
  line-height: 1.7em;
  margin: 0 0 15px 0;
  font-family: $font;
}

.preamble
{

  font-size: 16px;
  line-height: 28px;

  @include MQ(M) {
    font-size: 18px;
    line-height: 30px;
  }

  @include MQ(L) {
    font-size: 20px;
    line-height: 32px;
  }

}

.upper{
  text-transform: uppercase;
}

strong {
  font-weight: 600;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 700;
  font-family: $font-headers;
  margin: 0 0 15px 0;
}

h1, .h1{
  font-size: 38px;
  @include MQ(M) {font-size: 42px;}

}

h2, .h2 {
  font-size:  28px;
  @include MQ(M) {font-size: 36px;}
}

h3, .h3 {
  font-size: 24px;
  @include MQ(M) {font-size: 32px;}

}
h4, .h4 {
  font-size: 28px;
}

h5, .h5 {
  font-size: 22px;
}

h6, .h6 {
  font-size: 16px;

  &.block-title
  {
    text-transform: uppercase;
    margin-bottom: 30px;

    &--white
    {
      color: $white;
    }

  }
}

p img {
  vertical-align: middle;
}

label {
  cursor: pointer;
}
