// Text utils
.text-center {
    text-align: center;
}

// Spacing utils
.mb {
    &-large {
        margin-bottom: 120px;
    }
    &-small {
        margin-bottom: 50px;
    }
}

.mt {
    &-large {
        margin-top: 120px;
    }

    &-small {
        margin-top: 50px;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}



hr {
    height: 1px;
    border: 1px solid #222;
    border-bottom: 0px;
}

.visible-desktop {
    display: none;

    @include MQ(M) {
        display: initial;
    }
}

.visible-mobile {
    @include MQ(M) {
        display: none;
    }
}
