.validation {
    &--failed {
        box-shadow: inset 0 0 2px #FF7272;
        animation: error-shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
    }
}