// Other
$body-width: 88rem;

$logo-light: url('/wp-content/themes/wp_ipadstall/assets/images/iPadstall_logo-light.svg');
$logo: url('/wp-content/themes/wp_ipadstall/assets/images/iPadstall_logo.svg');
$logo-dark: url('/wp-content/themes/wp_ipadstall/assets/images/iPadstall_logo.svg');

// Fonts
$font: "europa", sans-serif;
$font-headers: "europa", sans-serif;

// Paddings
$padding: 1.86rem; // 30px
$padding2: 2.8rem; // 45px
$padding3: 3.7rem; // 60px
$padding4: 5.56rem; // 90px
$padding5: 7.5rem; // 120px

// Marginbottom
$marginbottom: 1.233rem; // 20px

// Colors
$font-color: #333333;
$white: #ffffff;
$off-white: #e7e7e7;
$light-gray: #f0f0f0;
$dark-gray: #2f2f2f;
$darker-gray: #282828;
$gray: #888;
$green: #53bf3a;

.color
{
  &--white{color: $white;}
  &--gray{color: $gray;}
}
