.pre-footer
{
  display: none;
  @include MQ(S) {
    display: block;
  }

   max-width: $body-width;
   background-color: $darker-gray;

   @include MQ(S) {
    margin: 0;
   }

   @include MQ(SM) {
        margin: 20px 20px 0px 20px;
   }

   &__inner{
     padding: $padding2 0;
     @include MQ(L) {padding: $padding4 $padding2;}
   }
 }

.footer
{
   max-width: $body-width;
   background-color: $dark-gray;
   margin:  0px;

   @include MQ(S) {
    margin: 0;
   }

   @include MQ(SM) {
        margin: 0px 20px;
   }

   padding-top: 90px;


   &__inner{
     &__col{
       &__c1{
         &--logo   {

           content: '';
           background-size: contain;
           background-repeat: no-repeat;
           background-image: url('/wp-content/themes/wp_ipadstall/assets/images/iPadstall_logo-light.svg');
           width: 180px;
           height: 28px;
           display: block;
           z-index: 999;
           position: relative;
           margin: 0 auto;
           margin-bottom: 45px;
         }

         &--logo-mediascreen-text
         {
           color: $gray;
           text-transform: uppercase;
           text-align: center;
           letter-spacing: 5px;
           width: 100%;
           font-size: 12px;
           margin-bottom: 10px;
         }

         &--logo-mediascreen   {

           content: '';
           background-size: contain;
           background-repeat: no-repeat;
           background-image: url('/wp-content/themes/wp_ipadstall/assets/images/mediascreen.svg');
           width: 180px;
           height: 28px;
           display: block;
           z-index: 999;
           position: relative;
           margin: 0 auto;
           text-indent: -9999px;
         }

       }
     }
  }
  a{
   text-decoration: none;
  }
}

.sub-footer
{
   max-width: $body-width;
   background-color: $dark-gray;
   color: $gray;
   text-align: center;
   margin:  0px;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 12px;
   padding-bottom: 45px;
   padding-top: 60px;

   @include MQ(S) {
    margin: 0;
   }

   @include MQ(SM) {
    margin: 0px 20px;
}

   a{
     color:$gray;
   }

  &__inner
  {
    a{
      text-decoration: none;
    }
  }
}
