.header {
  margin: 0px;
  background-color:$light-gray;
    @include MQ(SM) {
      margin: 20px ;
      margin-top: 0px;
    }

    &.white{
      background-color: #fff;
    }

  &__wrapper
  {
      padding: 15px;
      @include MQ(S) {
        padding: 30px;
      }
      position: relative;

  .introtext
  {
    max-width: 560px;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 40px;

    h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }

    .preamble{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
        @include MQ(M) {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
  }

  &__logo
  {
    display: block;
    text-indent: -9999px;
    background-image: $logo-light;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-image: $logo;
    width: 120px;
    height: 24px;

    @include MQ(M) {
      width: 132px;
      height: 22px;
    }
  }
  &.dark{
    background-color:$dark-gray;

    .header__logo
    {
      background-image: $logo-light;
    }

    .header__wrapper
    {
       a{
         color:$white;
       }

       .shopping-bag
       {

         &:before{
            background-image: url('/wp-content/themes/wp_ipadstall/assets/images/shopping-bag-light.png');
         }
       }
    }
  }
}

.fixed
{
  .header
  {
    &.dark{
    &__logo{
      background-image: $logo-dark;
      }
    }
  }

}
