.main {
  @include MQ(XS) {
    margin: 0px;
  }
  @include MQ(S) {
    margin: 20px;
  }
}
.contentbox
{
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: $light-gray;
  position: relative;
  @include MQ(S) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include MQ(M) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  &__inner
  {
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
    color: $off-white;
    z-index: 9;
    position: relative;
    @include MQ(XS) {
      padding: 20px;
    }
    @include MQ(SM) {
      padding: 0px;
    }
    h3{
      font-size: 38px;
      margin-bottom: 20px;
      i{
        font-style: italic;
      }
    }
    .text
    {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 45px;
    }
  }
  &__purplegrad
  {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#552f7f+0,8a2f8e+100 */
  background: #552f7f; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #552f7f 0%, #8a2f8e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #552f7f 0%,#8a2f8e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #552f7f 0%,#8a2f8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#552f7f', endColorstr='#8a2f8e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  &:after{
    background-image: url('/wp-content/themes/wp_ipadstall/assets/images/temp.jpg');
    content: '';
    display: block;
    z-index: 1;
    position: absolute;
    height: 100%;
    background-size: cover;
    width: 100%;
    opacity: 0.05;
    top: 0px;
    background-position: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}
.twocolboxes
{
  display: flex;
  margin-bottom: 20px;
  max-width: $body-width;
  @include MQ(XS) {
    flex-direction: column;
  }
  @include MQ(M) {
    flex-direction: row;
  }
  .img-left {
    left: 20px;
    @include MQ(XS) {
      display: none;
    }
    @include MQ(L) {
      display: block;
    }
  }
  .img-right {
    right: 20px;

    @include MQ(XS) {
      display: none;
    }
    @include MQ(L) {
      display: block;
    }
  }
  .onebox
  {
    flex: 1;
    img{
      &.offset{
        position: relative;
        &__bottom
        {
          @include MQ(L) {
            &--fullheight
            {
              height: 100%;
            }
          }
        }
        &__top
        {
          top: -200px;
          position: absolute;
          z-index: 5;
          }
        }
      }
      .shopping-box {
        display: block;

        @include MQ(S) {
            display: flex;
          }

        @include MQ(SM) {
          flex-direction: row !important;
          img {
          }
        }
      }
    &__inner{
      padding: 20px;
      padding-bottom: 0px;
      position: relative;
      z-index: 5;
      display: flex;
      @include MQ(XS) {
        justify-content: space-around;
      }
      @include MQ(L) {
        justify-content: space-around;
      }
      .shopping-item {
        margin: 50px 0 !important;

        @include MQ(XS) {
          padding-left: 0px;
        }

        @include MQ(M) {
          padding-left: 20px;
        }
      }
      &--margin {
        @include MQ(XS) {
          margin-right: 0px;
        }
        @include MQ(M) {
          margin-right: 20px;
        }
      }
      &__info
      {
      margin-right: 50px;
      margin-top: 60px;
      text-align: left;
      &--right{
        top: 0px;
        right: 0px;
        @include MQ(XS) {
          margin: 30px 0;
        }
        @include MQ(S) {
          max-width: 280px;
        }
        @include MQ(L) {
          margin-left: 340px;
        }
      }
      &--left{
        top: 0px;
        position: absolute;
        left: 0px;
        margin-left: 50px;
        max-width: 280px;

        @include MQ(XS) {
          margin: 30px 0;;
        }

        @include MQ(L) {
          margin-right: 340px;
        }
      }
      &--center
      {
        position: relative;
        text-align: center;
      }
      .product
      {
        &--cat
        {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        &--text
        {
          font-size: 14px;
          line-height: 26px;
          margin-bottom: 20px;
          i{
            font-style: italic;
          }
        }
        &--pris
        {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 20px;
          margin-top: 20px;
          span{
          font-size: 28px;
          }
        }
      }
    }
    &__img{
      margin-top: 50px;
    }
  }
    &__whitegrad
    {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdfdfd+0,f2f2ff+100 */
      background: #fdfdfd; /* Old browsers */
      background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #fdfdfd 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    }
    &__gray
    {
      color:$off-white;
      background-color: $dark-gray;
      padding-bottom: 0px;
      position: relative;

      @include MQ(M) {
        padding-bottom: 60px;
      }

      &:after{
        background-image:url("/wp-content/themes/wp_ipadstall/assets/images/bak1.jpg");
        content: '';
        display: block;
        z-index: 1;
        position: absolute;
        height: 100%;
        background-size: cover;
        width: 100%;
        opacity: 0.8;
        top: 0px;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }
  }
  #col1.onebox{
    &__gray {
      &:after {
        background-image:url("/wp-content/themes/wp_ipadstall/assets/images/bak1.jpg");
      }
    }
  }
  #col2.onebox{
    &__gray {
      &:after {
        background-image:url("/wp-content/themes/wp_ipadstall/assets/images/bak2.jpg");
      }
    }
  }
  &__col1 {
    @include MQ(XS) {
      max-width: 100%;
    }

    @include MQ(M) {
      max-width: 50%;
    }
  }
  &__col2 {
    @include MQ(XS) {
      max-width: 100%;
      margin-top: 20px;
    }

    @include MQ(M) {
      margin-top: 0px;
      max-width: 50%;
    }
  }
}

.order-form
{
  background-color: #f0f0f0;
  padding: 10px 20px;
  position: relative;

  @include MQ(SM) {
    padding: 40px 20px;
  }

  .gform_body, .gform_footer {
    margin: 0 auto !important;
    max-width: 740px;
    z-index: 99;
    position: relative;

    input[type='text'], textarea {
      padding: 10px !important;
    }

    input[type='text'], input[type='number'], textarea {
      border: 1px solid #fff;
      outline: none;
    }

    .product {
      width: 100% !important;
      clear: none;
      margin-right: 10px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 18px;
      transition: all 0.5s ease;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 4px 4px 12px -5px rgba(0, 0, 0, 0.15);
      @include MQ(SM) {
        width: fit-content !important;
        min-width: 48%;
        float: left;
        input {
          transition: all 0.5s ease;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        &:hover {
          border: 1px solid rgba(0, 0, 0, 0);
          background-color: rgba(255, 255, 255, 1);
          box-shadow: 4px 4px 12px -5px rgba(0, 0, 0, 0.45);

          input {
            transition: all 0.5s ease;
            border-bottom: 2px solid #222;
          }
        }
      }
      .ginput_product_price
      {
        color: #060;
      }
      .ginput_container_singleproduct
      {
        display: flex;
        line-height: 33px;
      }
    }

    .gfield_price {
      padding-top: 20px;
      @include MQ(M) {
        margin-top: 10px;
      }

      .ginput_quantity{
        background-color: transparent;
        border: 0px;
        border-bottom: 2px solid #bbb;
        width: 2.5rem;
        text-align: right;
        padding: 3px;
      }

      &.ipad{
        overflow: hidden;
        position: relative;
        padding-left: 100px;
        @include MQ(SM) {
          padding-left: 95px;
        }
        @include MQ(M) {
          padding-left: 120px;
        }
        &:before {
        content: '';
        width: 80px;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 4px;
        width: 90px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
          @include MQ(SM) {
            width: 100px;
          }
        }
      }
      &.golv-ipp
      {
        &:before{
          background-image: url('/wp-content/themes/wp_ipadstall/assets/images/280x620-ipadstand-half-pro.png');
          top: 10px;
        }
      }
      &.golv-ip
      {
        &:before{
          background-image: url('/wp-content/themes/wp_ipadstall/assets/images/280x620-ipadstand-half.png');
          top: 10px;
        }
      }
      &.bord-ipp
      {
        &:before{
          background-image: url('/wp-content/themes/wp_ipadstall/assets/images/280x620-ipadstand2-half-pro.png');
        }
      }
      &.bord-ip
      {
        &:before{
          background-image: url('/wp-content/themes/wp_ipadstall/assets/images/280x620-ipadstand2-half.png');
        }
      }
    }

    .gfield_total
    {
     @include MQ(M) {
       margin-top: 0px;
      }
    }
  }
  .gsection
  {
    margin-bottom: 0px !important;
  }
  
  &:after{
    content: '';
    opacity: 0.15;
    top: 0px;
    display: block;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-image: url('/wp-content/themes/wp_ipadstall/assets/images/ipadback.jpg');
    background-size: cover;      }

  li.hidden_label input
  {
    margin-top:0px !important;
  }
}

.swiper-pagination-bullet
{
  display: flex;
  background-color: transparent;
  cursor: pointer;
  span{
    display: block;
    height: 30px;
    width: 30px;
    background-size: cover;
    content: '';
    margin: 10px auto;
    position: relative;
    fill: #2f2f2f;
    bottom: 30px;
    @include MQ(SM) {
      bottom: 0px;
    }

    &:after{
      content: "";
      position: absolute;
      bottom: -24px;
      width: 90px;
      left: -30px;
      display: block;
      font-size: 0.85em;
      font-weight: 900;

    }

    &.item1
    {
      background-image: url('/wp-content/themes/wp_ipadstall/assets/images/padlock.svg');
      &:after{
        @include MQ(SM) {
          content: "Säkerhet";
        }
      }
    }
    &.item2
    {
      background-image: url('/wp-content/themes/wp_ipadstall/assets/images/diamond.svg');
      &:after{
        @include MQ(SM) {
          content: "Kvalitet";
        }
      }
    }
    &.item3
    {
      background-image: url('/wp-content/themes/wp_ipadstall/assets/images/heart.svg');
      &:after{
        @include MQ(SM) {
          content: "Design";
        }
      }
    }
    &.item4
    {
      background-image: url('/wp-content/themes/wp_ipadstall/assets/images/star.svg');
      &:after{
        @include MQ(SM) {
          content: "Erfarnhet";
        }
      }
    }
    &.item5
    {
      background-image: url('/wp-content/themes/wp_ipadstall/assets/images/plus.svg');
      &:after{
        @include MQ(SM) {
        content: "Återförsäljare";
        }
      }
    }

  }
}

.swiper-pagination {

  height: 30px;
  width: 320px !important;
  margin: 0 auto;
  right: 0px;
  display: flex;
  justify-content: space-between;

  @include MQ(SM) {
    top: 70px;
    width: 460px !important;
    height: 60px;

  }

  .swiper-pagination-bullet
  {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    display: inline-block;
    outline: none;
    opacity: 0.4;
    transition: opacity 0.5s ease;

    &:hover{
      opacity: 0.7;
    }

  }
  .swiper-pagination-bullet-active
  {
    opacity: 1 !important;
  }
}