.js-toggle-mobile-menu
    {
      display: none;
      position: relative;
      width: 26px;
      background-size: cover;
      content: '';
      fill: #2f2f2f;
      background-image: url("../../images/hamburger-menu.svg");
      height: 26px;
      z-index: 999;
      
      @include MQ(SM) {
        display: none;
      }
    }