.header
{
  &__navigation, &__navigation--secondary
  {
    position: absolute;

    .menu
    {
      li{
        @include MQ(SM) {
        margin-left: $padding;
        display: inline-block;

        }

        @include MQ(L) {
        margin-left: $padding2;
        }

        @include MQ(XL) {
        margin-left: $padding;
        }
        a{
          text-decoration: none;
          font-weight: 900;
        }
      }
    }
  }
  &.light-theme{
    .menu
    {
      li{
        a
        {color: $font-color;
        }
      }
    }
  }

  &__navigation
  {
    top: 22px;
    right: 60px;

    display: none;

    @include MQ(SM) {
      display: block;
    }

    &--secondary
    {
      display: none;

      @include MQ(M) {
        display: block;
      }
    }


  }

  &__navigation--secondary
  {
    top: 25px;
    right: 80px;
    font-size: 13px;
    text-transform: uppercase;
    a{
    opacity: 0.6;
    -webkit-transition: opacity 0.2s; /* Safari */
    transition: opacity 0.2s;

      &:hover{
        opacity: 1;
      }
    }
  }
}

.submenu
{
  background-color: $gray;
  text-align: center;

  @include MQ(L) {


  padding-left: $padding2;
}

  @include MQ(XL) {
    text-align: left;
    padding-left: $padding3;
  }

  li{
    display: inline-block;
    a{
      padding: 15px 10px;
      font-size: 14px;
      display: block;
      font-weight: bold;
      text-decoration: none;

      @include MQ(SM) {
        padding: 25px 20px;
      }


    }
  }
}



.mobile-menu--open
{
  .menu-bigmenu{
    display: block;
  }

  .header
  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation
    {
      display: block;

      background-color: $white;
      width: 100%;
      position: absolute;
      left: 0px;
      height: 100vh;
      top: 0px;
      z-index: 99;

      padding: $padding;

      li{
        margin-bottom: $padding;
        a
        {
          color: #222 !important;
        }
      }
      &--secondary
      {
        display: block;
        z-index: 999;
        left: 30px;
        top: 260px;

         .menu li {

           margin-bottom: 10px;

           a{
          color: #222;
          text-transform: none;
          opacity: 1;
          }
        }
      }

    }
    .js-toggle-mobile-menu
    {
      display: block;
      position: relative;
      top: 5px;
      width: 24px;
      background-size: cover;
      content: '';
      fill: #2f2f2f;
      background-image: url("../../images/hamburger-menu.svg");
      height: 24px;
    }
  }
}


body{
  &.mobile-menu--open
  {
    overflow: hidden;
  }
}

/*
.fixed
{
  padding-top: 90px;

  #submenu
  {
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;

    transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -webkit-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;

    }

    #site-header
    {
      .header__navigation{
        padding-top: 40px;
        top: 0px;

         &--secondary
         {
           display: none;
         }

      }

      .header__wrapper__inner
      {
         position: fixed;
         top: -84px;
         @include MQ(L) {
           top: -90px;
         }

         background-color: $white;
         z-index: 999;
         right: 0px;
         left: 0px;
         margin: 0 auto;
         padding: 30px;
         max-width: 1400px;
         transition: top .3s ease-out;
         -moz-transition: top .3s ease-out;
         -webkit-transition: top .3s ease-out;
         -o-transition: top .3s ease-out;

         }
       }
    &.scrolled{
      #site-header
      {
        .header__wrapper__inner
        {
           top: 0px;
         }
      }
      #submenu{
        top: 84px;
          @include MQ(L) {
            top: 92px;
          }
      }
   }
}
*/

.header__logo {
  display: inline-block;
}

.full-screen-menu {
  
  @include MQ(XS) {
    display:none
  }

  @include MQ(SM) {
    display:inline-block;
  }

  &__item {
    display: inline-block;
    margin-right: $padding;
  }
}

.header__wrapper {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }
}

.shopping-bag::before {
  display: block;
  position: relative;
  top: 5px;
  width: 24px;
  background-size: cover;
  content: '';
  fill: #2f2f2f;
  background-image: url("../../images/shopping-bag.svg");
  height: 24px;
}

.shopping-bag
{
  a{
    width: 24px;
    display: block;
    margin-top: -18px;
    height: 24px;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }

}