.logorow
{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  flex-wrap: wrap;
  span{
    flex: 1 1 33%;
    display: flex;
    margin-bottom: 20px;
    @include MQ(L) {
      flex: 1 1;
      margin-bottom: 0px;
    }
    img{
      max-width: 160px;
      margin: 0 auto;
      @include MQ(L) {
        max-width: 180px;
      }
    }
  }
}
