.header
{
  &__blocks{
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 30px;

    @include MQ(SM) {
      padding: 30px;
    }


    @include MQ(L) {
      flex-direction: row;
    }

    &__theblock
    {
      @include MQ(L) {

      }


      &.block1
      {
        background-color:rgba(255,255,255,1);
        display: flex;
        background-image: url('/wp-content/themes/wp_ipadstall/assets/images/hander_white.jpg');
        background-size: cover;
        margin: 0 auto;

        @include MQ(SM) {
          width: 630px;
        }

        @include MQ(L) {
          width: 580px;
        }

        .img-block
        {
          display: none;
          @include MQ(SM) {
            width:230px;
            display: block;
          }
        }

        .text-block
        {
          padding: 30px;
          text-align: center;

          @include MQ(SM) {
            text-align: left;
            padding: 0px;
            margin-left: 210px;
            position: absolute;
            width: 320px;
            top: 240px;
          }
        }

        .offset{
          position: relative;
          left: -50px;
          top: 30px;
        }

        .cta__button
        {
          margin: 0 auto;
          @include MQ(SM) {
            margin: 0;
          }

        }

      }
      &.block2
      {
        color: #fff;
        text-align: center;
        padding: 35px;
        margin-top: 40px;

        @include MQ(L) {
          padding: 65px;
          margin-top: 90px;
        }

        h6{
          opacity: 0.4;
          text-transform: uppercase;
        }

        p{
          width: 280px;
          margin: 0 auto;
          margin-bottom: 20px
        }

      }

      &.centerblock
      {

        color: #fff;
        text-align: center;
        padding: 35px;
        margin-top: 40px;

        @include MQ(L) {
          padding: 65px;
        }

        h6{
          opacity: 0.4;
          text-transform: uppercase;
        }

        p{
          width: 340px;
          margin: 0 auto;
          margin-bottom: 20px
        }

      }


      h2
      {
        font-size: 42px;
      }

      .ipadicons
      {
        padding-top: 15px;
        padding-bottom: 15px;
      }

    }
  }
}

.swiper-products
{
  &__inner{
    background-color:#eee;
    min-height: 312px;
    margin-bottom: 20px;
    background-size: cover;

    @include MQ(SM) {
      min-height: 712px;
    }

    &--text{
      height: 100%;
      width: 100%;
      background-color: rgba(255,255,255,0.85);
      margin: 0 auto;
      right: auto;
      padding: 30px;
      position: absolute;

      @include MQ(SM) {
        background-color: transparent;
        width: 340px;
        height: 180px;
        left: 8%;
        padding: 0px;
        top: 72%;
      }

      @include MQ(M) {
        top: 52%;
        right: 6%;
        left: auto;
      }


        @include MQ(L) {
          top: 40%;
          right: 20%;
        }


      p
      {
        font-size: 1em;
        line-height: 1.5em;
        @include MQ(SM) {
          font-size: 0.8em;
        }
      }
    }
  }
}

.contact-page
{
  margin-top: 60px;



  .intro
  {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  }

  .address
  {
    margin-top: 60px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    width: auto;
    @include MQ(M) {
      flex-direction: row;
    }

    &__col1, &__col2, &__col3
    {
      flex: 1;
      text-align: center;
      margin-bottom: 50px;
      @include MQ(M) {
        margin-bottom: 20px;
      }
    }
  }
}

.cols
{
  padding: 60px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include MQ(M) {
    flex-direction: row;
  }


  &__col1{
    flex: 2;
    margin-right: 40px;
  }

  &__col2{
    flex: 1;
    background-color: $light-gray;
    padding: 30px;
    h4{
      font-size: 16px;
    }

    .checklist
    {
      li{
        margin-bottom: 15px;
        margin-left: 20px;
        position: relative;
        line-height: 20px;

        &:after{
          content: '';
          width: 10px;
          height: 10px;
          display: block;
          position: absolute;
          top: 6px;
          left: -20px;
          background-image: url('/wp-content/themes/wp_ipadstall/assets/images/checkmark.svg');
        }
      }
    }
  }
}

.contact-form
{
  background-color: $light-gray;
  position: relative;

  &:after{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-image: url('/wp-content/themes/wp_ipadstall/assets/images/ipadback.jpg');
    background-size: cover;
    z-index: 1;
    position: absolute;
    background-position: center;
    opacity: 0.25;
  }
  &__inner
  {
    max-width: 760px;
    margin: 0 auto;
    padding: 90px 0px;
      z-index: 2;
      position: relative;

    .gform_body
    {
      margin-top: 30px;
      padding-left: 16px !important;
      @include MQ(M) {
        padding-left: 0px !important;
      }

      ul{
         position: relative;
        li{
          margin-top: 0px !important;

          .ginput_container_textarea
          {
            margin-top: 0 !important;
          }

          label{display: none !important;}
          input, textarea{
             outline: none;
          }
          input
          {
            border: 0px solid darken($light-gray, 5%);
            width: 100% !important;
            @include MQ(M) {
            width: 50% !important;
            padding: 16px !important;
            }

          }
          textarea
          {
            margin-top: 0px !important;
            border: 0px solid darken($light-gray, 5%);
          }
        }
        #field_1_4
        {

          width: 100% !important;
          padding-top: 10px !important;
          @include MQ(M) {
            width: 50% !important;
            top: 0px;
            position: absolute;
            left: 50%;
            padding: 0 !important;
            }

          .textarea
          {
            height: 175px;
          }
        }
      }
    }
  }
}
